.pagecrm__advantages {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.advantages__title {
    margin-top: 0px;
    margin-bottom: 45px;

    @include breakpoint(md) {
        margin-top: 20px;
        margin-bottom: 90px;
    }
}

.advantages__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: var(--r1-white);

    .menu-mob {
        padding: 22px 26px 28px 26px;

        border-radius: 20px 0 0 20px;
        backdrop-filter: blur(20px);
        background: linear-gradient(
            90deg,
            rgba(177, 149, 255, 0.7) 0%,
            rgba(177, 149, 255, 0.7) 0.01%,
            rgba(44, 48, 83, 0.7) 100%
        );

        @include breakpoint(md) {
            display: none;
        }
    }

    .menu-desk {
        display: none;

        @include breakpoint(md) {
            width: 100%;
            display: block;
            padding: 40px 0px 50px 50px;
            border-radius: 40px 0 0 40px;
            backdrop-filter: blur(20px);
            // background: linear-gradient(
            //     90deg,
            //     rgba(177, 149, 255, 0.7) 0%,
            //     rgba(177, 149, 255, 0.7) 0.01%,
            //     rgba(44, 48, 83, 0.7) 100%
            // );
            background: linear-gradient(
                90deg,
                rgba(177, 149, 255, 0.7) 0%,
                rgba(177, 149, 255, 0.7) 0.01%,
                rgba(44, 48, 83, 0.7) 50%,
                rgba(44, 48, 83, 0) 100%
            );
        }
    }

    .menu__item {
        display: grid;
        grid-template-columns: auto 1fr;
        place-items: center start;
        // gap: 18px;
        gap: 6px;

        font-family: var(--font-family);
        font-weight: 400;
        font-size: $fz-14-36;
        line-height: 1.43;
        color: var(--r1-white);

        &:not(:last-child) {
            margin-bottom: 26px;
            @include breakpoint(md) {
                margin-bottom: 22px;
            }
        }

        @include breakpoint(md) {
            line-height: 1.9;
        }

        img {
            width: 44px;
            height: auto;

            @include breakpoint(md) {
                width: 110px;
                height: auto;
            }
        }
    }
}

.advantages__menu::before {
    content: "";
    display: none;

    @media screen and (min-width: 1222px) {
        display: block;
        width: 491px;
        height: 614px;

        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(-8%, -50%);
        z-index: 2;

        background-image: url("./../images/pagecrm/advantages/mobile-phine.webp");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
