.pagecrm__business-pro {
    position: relative;
    display: block;
    overflow-y: hidden;

    padding-bottom: 75px;
    @include breakpoint(md) {
        padding-bottom: 120px;
    }
}

.pagecrm__business-pro .pagecrm__title {
    margin: 0 auto;
    max-width: 67%;
    // word-wrap: break-word;
    // word-break: normal;

    margin-bottom: 20px;

    @include breakpoint(md) {
        max-width: 100%;
        margin-bottom: 46px;
    }
}

.pagecrm__features {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr); //170px
    justify-content: center;
    row-gap: 15px;
    margin-bottom: 75px;

    @include breakpoint(md) {
        grid-template-columns: repeat(4, 1fr);

        #card1 {
            order: 2;
        }
        #card2 {
            order: 3;
        }
        #card3 {
            order: 1;
        }
        #card4 {
            order: 4;
        }

        margin-bottom: 120px;
    }
}

.pagecrm__feature-icon {
    display: block;
    max-width: 100px;
    width: 100%;
    height: auto;
    margin: 0 auto 5px;

    @include breakpoint(md) {
        max-width: 200px;
        margin: 0 auto 20px;
    }
}

.pagecrm__feature-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: $fz-14-30;
    line-height: 1.43;
    text-align: center;
    color: #f9fbff;

    @include breakpoint(md) {
        // font-size: 32px;
        line-height: 1.25;
    }
}

//------------------------------------------------------------
.pagecrm__systems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // flex-direction: column;
    align-items: center;
    gap: 20px;

    margin-bottom: 75px;

    @include breakpoint(lg) {
        // flex-direction: row;
        margin-bottom: 120px;
    }
}

.pagecrm__system {
    display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-template-columns: repeat(
        auto-fit,
        minmax(140px, 345px) minmax(140px, 345px)
    );

    border-radius: 10px;
    box-shadow: 0 0 20px 0 #d795ff, 0 0 4px 0 #d795ff;

    @include breakpoint(lg) {
        border-radius: 20px;
        // max-height: 320px;
    }
}

.pagecrm__system-images {
    display: grid;
    place-items: center;
    padding: 20px 0px;
    border-radius: 10px 0px 0px 10px;
    background: linear-gradient(229deg, #fff 0%, #0e9ddd 71.45%);
    max-height: 320px;

    img {
        display: block;
        width: 100%;
        height: auto;
        // aspect-ratio: calc(170 / 190);
        // mix-blend-mode: multiply;
    }

    @include breakpoint(lg) {
        border-radius: 20px 0px 0px 20px;
        // aspect-ratio: 1.07;
    }
}

.pagecrm__system-info {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    min-height: 190px;

    @include breakpoint(lg) {
        padding: 28px 20px;
    }
}

.pagecrm__system-name {
    margin-bottom: 10px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: $fz-16-24;
    line-height: 1.25;
    background: linear-gradient(157deg, #b195ff 0%, #e9c6ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include breakpoint(lg) {
        margin-bottom: 27px;
    }
}

.pagecrm__system-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    @include breakpoint(lg) {
        gap: 25px;
    }
}

.pagecrm__system-item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center; // Вертикаль
    gap: 10px;
    justify-items: start; // Горизонталь

    img {
        width: 20px;
        aspect-ratio: 1;
    }

    font-family: var(--font-family);
    font-weight: 400;
    font-size: $fz-14-20;
    line-height: 1;
    color: var(--r1-white);

    @include breakpoint(lg) {
        font-size: 20px;
        line-height: 1.3;
        gap: 8px;
        img {
            width: 28px;
            aspect-ratio: 1;
        }
    }
}
//------------------------------------------------------------
.pagecrm__contact-form {
    margin: 0 auto;
    border-radius: 32px;
    padding: 44px 15px;

    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px 0 #9662ff;
    background: linear-gradient(rgba(72, 5, 114, 0.49), rgba(72, 5, 114, 0.49))
            padding-box,
        linear-gradient(
                to bottom,
                rgba(149, 0, 255, 0.2) 0%,
                rgba(198, 79, 134, 0.2) 83%
            )
            border-box;
    border: 2px solid transparent;

    @include breakpoint(md) {
        max-width: 652px;
    }
}

.pagecrm__form-title {
    margin: 0 auto;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: $fz-24-42;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--r1-white);

    mix-blend-mode: overlay;

    margin-bottom: 8px;

    @include breakpoint(md) {
        line-height: 1.24;
        letter-spacing: -0.01em;
    }
}

.pagecrm__form-description {
    margin: 0 auto;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: $fz-14-20;
    line-height: 1.43;
    text-align: center;

    margin-bottom: 20px;

    @include breakpoint(md) {
        max-width: 492px;
    }
}

.pagecrm__form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    @include breakpoint(md) {
        max-width: 452px;
    }
}

.pagecrm__form-input {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: $fz-14-20;
    line-height: 1.86;
    color: var(--r1-white);

    padding: 11px 20px;
    width: 100%;
    color: #fff;

    margin-bottom: 20px;

    @include breakpoint(md) {
        max-width: 452px;
    }
}

// .pagecrm__form-select {
//     font-family: var(--font-family);
//     font-weight: 400;
//     font-size: $fz-14-20;
//     line-height: 1.86;

//     padding: 18px 17px;
//     width: 100%;
//     color: #fff;

//     margin-bottom: 20px;

//     appearance: none;
// }

// background: url("./../images/svg/arrow-down.svg") no-repeat right;
// .pagecrm__form-select:not([multiple])::before {
// content: "";
// background-repeat: no-repeat;
// background-position: calc(100% - 0.25em) 0.35em;
// background-size: 0.85em auto;
// background: url("../images/svg/arrow-down.svg") no-repeat right;
// }

.pagecrm__form-textarea {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: $fz-14-20;
    line-height: 1.43;
    color: rgba(255, 255, 255, 0.5);

    padding: 9px 19px;
    width: 100%;
    height: 108px;

    margin-bottom: 28px;
    // box-sizing: border-box;
    @include breakpoint(md) {
        padding: 18px 19px;
        height: 190px;
        margin-bottom: 20px;
    }
}

.pagecrm__form-input1 {
    width: 100%;
    padding: 10px;
    color: #fff;

    outline: none;

    background: linear-gradient(#480572, #480572) padding-box,
        linear-gradient(
                to bottom right,
                rgba(149, 0, 255, 0.2) 0%,
                rgba(198, 79, 134, 0.2) 83%
            )
            border-box;

    border-radius: 10px;
    border: 5px solid transparent;
}
// border: 4px solid transparent;
// border-radius: 20px;
// background: linear-gradient(to right, white, white),
//     linear-gradient(to bottom, #9400ff 0%, #c64f87 83%);
// background-clip: padding-box, border-box;
// background-origin: padding-box, border-box;

// <input type="text" name="fio" placeholder="ФИО" class="pagecrm__form-input">
// .pagecrm__form-input {
//     margin-bottom: 20px;
//     width: 100%;
//     outline: none;
//     padding: 10px;
//     background: #000;
//     color: #fff;
//     border-radius: 15px;
//     border: 3px solid;
//     border-image-source: linear-gradient(45deg, #a800ff, #ff5e5e);
//     border-image-slice: 1;
// }

.grad-border {
    outline: none;
    // margin-bottom: 20px;

    background: linear-gradient(#480572, #480572) padding-box,
        linear-gradient(
                to bottom right,
                rgba(149, 0, 255, 0.2) 0%,
                rgba(198, 79, 134, 0.2) 83%
            )
            border-box;

    border-radius: 10px;
    border: 5px solid transparent;
}

//---dropdown---------------------
.dropdown {
    position: relative;
}

.dropdown__button {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: $fz-14-20;
    line-height: 1.86;

    padding: 0px 19px;
    width: 100%;
    color: #fff;

    margin-bottom: 20px;

    cursor: pointer;

    @include breakpoint(md) {
        padding: 11px 17px;
        line-height: 1.3;
    }
}

.dropdown__button:hover {
    // border: 1px solid var(--grey);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown__options {
    display: none;
    list-style: none;
    position: absolute;
    overflow-y: auto;
    z-index: 9;

    // max-width: 392px;
    width: 100%;
    height: auto;
    // height: 216px;
    padding: 16px 16px 16px 16px;
    border: 4px solid rgba(72, 5, 114, 0.49);
    border-radius: 10px;

    // background-color: var(--white);

    animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
}

.dropdown__options::-webkit-scrollbar {
    width: 4px;
    /* Ширина всего элемента навигации */
}

.dropdown__options::-webkit-scrollbar-track {
    background-color: var(--white);
    /* Цвет дорожки */
}

.dropdown__options::-webkit-scrollbar-thumb {
    background-color: var(--grey);
    /* Цвет бегунка */
    border-radius: 50px;
    /* Округление бегунка */
    border: 4px solid var(--grey);
    /* Оформление границ бегунка */
}

.dropdown__option {
    display: flex;
    cursor: pointer;
    // padding: 8px 0px;
}

.dropdown__option:last-child {
    margin-bottom: 0px;
}

.dropdown__option:hover {
    // background-color: var(--border);
    background-color: rgba(72, 5, 114, 0.49);
}

.dropdown__option img {
    margin-right: 8px;
}

.dropdown__option-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: $fz-14-20;
    line-height: 1.86;

    // padding: 0px 19px;
    color: #fff;
}

.dropdown__arrow {
    font-size: 28px;
    transition: 0.3s;
}

.dropdown--active .dropdown__arrow {
    transform: rotate(-180deg);
}

.dropdown--active .dropdown__options {
    display: block;
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;

    background-color: #4b1b89;
    // border-radius: 10px;
    // padding: 10px 0;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

.dropdown__arrow:before {
    content: url("./../images/svg/arrow-down.svg");
}

.business-pro__img {
    display: none;

    @include breakpoint(md) {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -33%);
        z-index: -1;

        width: 100%;
        height: auto;
    }
}

//---dropdown END---------------------
